.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(211, 199, 199);
  z-index: 10000;
  padding: 100px;

  &::-webkit-scrollbar {
    display: none;
  }

  .icon_close {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    color: #fff;

    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }
}

.wrapper_template {
  width: 76%;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  img {
    &::-webkit-scrollbar {
      display: none;
    }
    // object-fit: contain;
    // image-rendering: pixelated;
    width: 100%;
    width: 400px;
    z-index: 1000;
  }
}
