.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--header_height);
    padding: 0 24px;
    background-color: #242c38;
    user-select: none;
    z-index: 1000000;
    animation: hiddenShowMenu 0.3s ease-in-out;

    @keyframes hiddenShowMenu {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .border_style,
    .border_size,
    .font_style,
    .upper_letter,
    .icon_align,
    .font_weight,
    .border_radius,
    .line_height,
    .font_size,
    .border_color,
    .color,
    .background_color {
        font-size: 32px;
        color: #fff;
        margin: 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .options {
            position: absolute;
            background-color: #2a2929;
            top: var(--header_height);
            height: 120px;
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transform: translateX(-50%);
            overflow: scroll;
            padding: 12px;
            &::-webkit-scrollbar {
                display: none;
            }

            li {
                display: block;
                width: 30px;
                height: 30px;
                padding: 6px;
                margin: 2px;
                border: 1px solid #ccc;
                &:hover {
                    filter: brightness(200%);
                    cursor: pointer;
                    background-color: #757577;
                    color: #000;
                }
            }
            .wrapper_input_color {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 12px;
                cursor: pointer;
                input {
                    width: 90%;
                }
                .icon_add_color {
                }
            }
        }

        svg {
            padding: 4px;
        }
        .input_options {
            display: flex;
            align-items: center;
            width: 100%;
            input {
                width: 50px;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                color: #fff;
                font-size: 24px;
                text-align: center;

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}

.icon_trash {
    position: absolute;
    right: 0;
    font-size: 40px;
    cursor: pointer;
    animation: wiggle 0.4s ease-in-out;

    &:hover {
        transform: scale(1.6);
    }
}

.wrapper_icon_close {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    background-color: transparent;
    svg {
        color: #fff;
        cursor: pointer;
        font-size: 32px;

        &:hover {
            color: var(--primary);
        }
    }
}
